@import '../../styles/_variables'

.root
  flex-grow: 1
  .coaching
    background-color: $background2
    padding: $m4
    margin-bottom: $m3
    position: relative
    display: flex
    color: $color5
    &:hover, &:focus
      .title
        text-decoration: underline
    &:last-child
      margin-bottom: 0
    .avatar
      width: 90px
      height: 90px
      font-size: 90px
      border-radius: 50%
      overflow: hidden
      flex-shrink: 0
      margin-right: $m3
      color: $color1
    .title
      margin-top: 0
      margin-bottom: $m2
      color: $color1
    .description
      margin-top: $m2
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      max-width: 500px
    .skill
      margin-right: $m3
      position: relative
      &::after
        position: absolute
        right: -12px
        font-weight: bold
        content: '·'
      &:last-child
        &::after
          display: none
    .type
      position: absolute
      right: $m3
      top: $m3
      padding: 0 $m1
      background-color: $background3
      border-radius: $border-radius-primary
      border: 1px solid $background4
  .notFound
    text-align: center
    display: block