@import '../../styles/_variables'
  
.button
  padding: $m2 $m3
  border: 1px solid $background4
  background: $background2
  color: $color4
  cursor: pointer
  font-size: $sizeS
  user-select: none
  outline: none
  transition: $transitionM
  text-transform: uppercase
  letter-spacing: 0.5px
  &:hover
    background: $background4
    color: $color2
  &.small
    padding: 4px 8px
    font-size: $sizeXS
  &.large
    padding: 8px 24px
    font-size: $sizeM
  &.filled
    background: $background1
    color: $color2
    border-color: $background1
    &:hover
      background: $color2
      color: $color1