@import '../../styles/_variables'
  
.button
  padding: 6px 16px
  border: 1px solid $border-color
  border-radius: $border-radius-primary
  background: $background2
  color: $color1
  cursor: pointer
  font-size: $sizeS
  &.small
    padding: 4px 8px
    font-size: $sizeXS
  &.large
    padding: 8px 24px
    font-size: $sizeM
  &.filled
    background: $background1
    color: $color2