// variables ====================================
$sizeXS: 12px
$sizeS: 14px
$sizeM: 16px
$sizeL: 18px
$sizeXL: 25px
$sizeXXL: 30px

$fontFamily: 'Open Sans', Arial, sans-serif

$background1: #414141
$background2: #f8f9fa
$background3: #fff

$color1: #333
$color2: #fff
$color3: red

$m1: 5px
$m2: 10px
$m3: 20px
$m4: 30px
$m5: 40px
$m6: 60px

$s: 576px
$m: 768px
$l: 992px
$xl: 1200px

$border-radius-primary: 3px
$border-color: #dfe3e6
$box-shadow-primary: 0 1px 3px $color1

$zIndexPopup: 20

$transitionM: 400ms

// mixins ========================================
@mixin absoluteFitParent
  position: absolute 
  top: 0
  left: 0
  right: 0
  bottom: 0

@mixin container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  @media (min-width: 768px)
    width: 750px
  @media (min-width: 992px)
    width: 970px
  @media (min-width: 1200px)
    width: 1170px

@mixin link
  &:hover
    text-decoration: underline