// variables ====================================
$sizeXS: 12px
$sizeS: 14px
$sizeM: 16px
$sizeL: 18px
$sizeXL: 25px
$sizeXXL: 30px

$fontFamily: 'Open Sans', Arial, sans-serif

$background1: #234262
$background2: #f8fafe
$background3: #fff
$background4: #1fc2d9

$color1: #234262
$color2: #fff
$color3: red
$color4: #1fc2d9
$color5: #7d84ab

$m1: 5px
$m2: 10px
$m3: 20px
$m4: 30px
$m5: 40px
$m6: 60px
$m7: 80px

$s: 576px
$m: 768px
$l: 992px
$xl: 1200px

$border-radius-primary: 3px
$background4: #1fc2d9
$box-shadow-primary: 0 1px 3px $color1
$box-shadow-light: 0px 3px 16px 0px rgba(0, 0, 0, 0.1)

$zIndexPopup: 20

$transitionM: 400ms

// mixins ========================================
@mixin absoluteFitParent
  position: absolute 
  top: 0
  left: 0
  right: 0
  bottom: 0

@mixin container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  width: 100%
  @media (min-width: 768px)
    width: 750px
  @media (min-width: 992px)
    width: 970px
  @media (min-width: 1200px)
    width: 1170px

@mixin link
  cursor: pointer
  text-decoration: underline
  &:hover
    text-decoration: none

@mixin hover
  outline: none
  &:hover, &:focus
    background-color: $background2