@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap)
@import url(~sanitize.css)
@import './_variables'
@import './fonts.css'
@import './global.css'

body
  font-size: $sizeM
  font-family: $fontFamily
  color: $color1
  background-color: $background3
  margin: 0
  overflow: hidden
body *
  box-sizing: border-box
input, textarea
  font-family: $fontFamily
a
  color: inherit
  font-family: inherit
  text-decoration: none
h1, h2, h3, h4, h5, h6
  letter-spacing: 1px

ul
  padding: 0
  margin: 0
  li
    list-style-type: none
