@import '../../styles/_variables'
  
.root
  .container
    border-bottom: 3px solid $background2
    .navLine
      @include container
      display: flex
      align-items: center
      padding-top: $m2
      padding-bottom: $m2
      position: sticky
      position: -webkit-sticky
      top: 0
      .logo
        margin-right: auto
        font-size: $sizeXXL
      .link
        margin-left: $m3
        cursor: pointer
      .button
        margin-left: $m3
  .profileMenu
    position: relative
    margin-left: $m3
    user-select: none
    cursor: pointer
    .avatar
      width: 30px
      height: 30px
      font-size: 30px
    .dropdownMenu
      position: absolute
      width: 150px
      top: 45px
      right: 0
      background-color: $background1
      color: $color2
      box-shadow: $box-shadow-primary
      border-radius: $border-radius-primary
      &::after
        content: ''
        position: absolute
        top: -10px
        right: 5px
        width: 0
        height: 0
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        border-bottom: 10px solid $background1
      .link
        display: block
        padding: $m2 $m3
        margin: 0
        &:hover
          background: $background2
          color: $color1
        &:first-child
          border-top-left-radius: $border-radius-primary
          border-top-right-radius: $border-radius-primary
        &:last-child
          border-bottom-left-radius: $border-radius-primary
          border-bottom-right-radius: $border-radius-primary