@import '../../styles/variables'
  
.container
  background: $color3
  .topLine, .navLine
    @include container
  .navLine
    display: flex
    align-items: center
    padding-top: $m2
    padding-bottom: $m2
    .logo
      margin-right: auto
      font-size: $sizeXXL
    .link
      margin-left: $m3
      cursor: pointer
    .button
      margin-left: $m3