@import '../../styles/_variables'
  
$header-height: 65px

.root
  padding-top: $header-height
  .navLine
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: $zIndexPopup
    background-color: $background3
    box-shadow: $box-shadow-light
    .container
      @include container
      display: flex
      height: $header-height
      .logo
        margin-right: auto
        font-size: $sizeXXL
        line-height: $header-height
      .link
        padding: 0 $m2
        cursor: pointer
        line-height: $header-height
        font-size: $sizeS
        font-weight: 700
      .button
        margin-left: $m2
        display: flex
        align-self: center
        font-size: $sizeS
  .profileMenu
    position: relative
    padding: 0 $m2
    user-select: none
    cursor: pointer
    display: flex
    align-items: center
    outline: none
    &.active
      background-color: $background2
    .avatar
      width: 30px
      height: 30px
      font-size: 30px
      margin-bottom: $m1
    .dropdownMenu
      position: absolute
      width: 150px
      top: $header-height
      right: 0
      background-color: $background2
      color: $color1
      box-shadow: -1px 5px 6px rgba(0,0,0,0.3)
      .link
        display: block
        padding: $m2 $m3
        margin: 0
        line-height: unset
        &:hover
          background: $background3
        &:first-child
          border-top-left-radius: $border-radius-primary
          border-top-right-radius: $border-radius-primary
        &:last-child
          border-bottom-left-radius: $border-radius-primary
          border-bottom-right-radius: $border-radius-primary