@import '../../styles/_variables'

.root
  background: $background2
  .container
    @include container
    padding-bottom: $m5
    padding-top: $m4
    .title
      font-size: $sizeXXL
      margin-top: 0
      margin-bottom: $m4
    .searchForm
      display: flex
      .skillInput
        width: 50%
      .locationInput
        width: 30%
        margin: 0 $m2
      .goButton
        flex-grow: 1
        white-space: nowrap