@import '../../styles/_variables'
  
.container
  text-align: center
  .input
    margin-bottom: $m3
  .submit
    width: 100%
  .googleLogin
    width: 100%
  .separator
    margin: $m2 0
    color: $color5
  .forgotPassword
    color: $color5
    display: block
    text-align: left
    margin-top: $m2
    @include link
  .signup
    color: $color5
    margin-bottom: $m3
    a
      @include link